*.csv
*.ipynb_checkpoint*
Run_airflow_in_docker_MSSQL_Postgres/logs/**
Run_airflow_in_docker_MSSQL_Postgres/plugins/**
Run_airflow_in_docker_MSSQL_Postgres/config/**
Run_airflow_in_docker_MSSQL_Postgres/airflow.sh
*__pycache__*
